{% block login_row %}

                                {{ form_start(form) }}
                                    <div class="mb-3">
                                        {{ form_label(form.email, 'Email address' , {label_attr: {class: 'form-label'}}) }}
                                        {{ form_widget(form.email, {attr: {class: 'form-control'}}) }}
                                        {{ form_errors(form.email) }}
                                    </div>
                                    <div class="mb-3">
                                        {{ form_label(form.password, 'Password' , {label_attr: {class: 'form-label'}}) }}
                                        {{ form_widget(form.password, {attr: {class: 'form-control'}}) }}
                                        {{ form_errors(form.password) }}
                                    </div>
                                    <div class="mb-3 form-check">
                                        {{ form_widget(form.remember_me, {attr: {class: 'form-check-input'}}) }}
                                        {{ form_label(form.remember_me, 'Remember me', {label_attr: {class: 'form-check-label'}}) }}
                                    </div>
                                    <div class="d-grid">
                                        {{ form_widget(form.submit, { attr: { class: 'btn btn-primary btn-lg' } }) }}
                                    </div>
                                {{ form_end(form) }}

{% endblock login_row %}